html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f3e9f1;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

header nav ul, header nav li {
    list-style: none;
}

header nav a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: all 0.5s;
}

header nav a:hover {
    text-decoration: none;
    color: #9663f6;
    transition: all 0.5s;
}

main {
    margin: 0 auto;
}

.article {
    transition: all 0.5s;
    text-decoration: none;
}

.article:hover {
    text-decoration: none;
    transition: all 0.5s;
    transform: scale(1.1);
    cursor: pointer;
}

.article:hover .uk-badge {
    background: red;
    transition: all 1s;
}

.uk-badge {
    padding: 15px 10px;
    transition: all 1s;
}

.title-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.articles #article--img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
}

.article--single .uk-badge:hover {
    background: red;
    transition: all 1s;
    cursor: pointer;
}

.logo {
    height: 5rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #f3e9f1;
}

footer p {
    margin: 0;
    padding: 15px;
}

.uk-notification-message  {
    background: #32d296;
    border-radius: 10px;
}

.uk-notification-message-success {
    color: #fff;
}

.article-card {
    margin: 20px 0;
}

.article-card::after {
    content: '';
    display: block;
    margin: 20px 0;
    border-bottom: 1px solid #999;
}

.offcanvas-title {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 20px;
}

.article-card .uk-badge {
    background: #1b79d8;
    width: 20px;
    height: 20px;
    color: white;
    padding: 10px;
}

#table-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#table-img > p {
    margin: 0;
}

#cart-empty {
    display: none;
}